{% extends 'exam/adminbase2.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    .panel{
      border:1px solid #B62e5a;
    }
    a{
      font-size:15px;
    }
    .sidebar h4 {
      
      margin-top: 0;
      font-size:25px;
      
    }
    h6{
      font-size:15px; 
    }
    label .fas fa-bars{
              margin-top:10px;
    }
    .btn{
      font-size: 1.5rem;
    }

  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"style="background-color:#B62e5a;">
      <h6 class="panel-title">Available Question Sets</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Course Name</th>
          <th>Total Question</th>
          <th>Total Marks</th>
          <th>View</th>
        </tr>
      </thead>
      {% for c in courses %}
      <tr>

        <td> {{c.course_name}}</td>
        <td>{{c.question_number}}</td>
        <td>{{c.total_marks}}</td>
        <td><a class="btn btn-sm" style="border-radius: 0%;background:#B62e5a;color:white;" href="{% url 'view-question' c.id  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}